#Amis{
    display: flex;
    height: 100%;
    width: 100%;
}

#DemandeDamis{
    text-align: center;
    background-color: lightgrey;
    border: 5px solid rgb(161 155 155);
}

.DemandeDamis{
    flex-basis: 20%;
}

#challengeAmis{
    text-align: center;
    border: 2px solid rgb(161 155 155);
    overflow-y: scroll;
    height: 100vh;
}

.challengeAmis{
    flex-basis: 50%;
}

#challengeAmis::-webkit-scrollbar {
    width: 10px;
}

#challengeAmis::-webkit-scrollbar-thumb {
    background-color: #ea9c66;
}

#challengeAmis::-webkit-scrollbar-track {
    background-color: #ccc;
}

#AjouterAmis{
    background-color: lightgrey;
    border: 5px solid rgb(161 155 155);
    text-align: center;
}

.AjouterAmis{
    flex-basis: 30%;
}


#barre-de-recherche:focus::-webkit-input-placeholder {
    color: transparent;
}

#barre-de-recherche:focus:-moz-placeholder {
    color: transparent;
}

#barre-de-recherche:focus::-moz-placeholder {
    color: transparent;
}

#Amis #barre-de-recherche {
    outline: none;
}

#Amis #barre-de-recherche[type="text"] {
    background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #fff;
    font: bold 12px Arial,Helvetica,Sans-serif;
    color: #bebebe;
    width: 55%;
    padding: 8px 15px 8px 30px;
}




.refuse-friend {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 1px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 7px #eee;
    border-radius: 3px;
    display: block;
}

.refuse-friend:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.accept-friend {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 1px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 7px #eee;
    border-radius: 3px;
    display: block;
}

.accept-friend:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}


.liste-amis{
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items:center;
}

.container{
    height: 5vw;
    position: relative;
    width: 50%;
    display: grid;
    grid-template: 5vw / auto 1fr;
    align-items: center;
    border: solid;
    border-color: black;
    margin-bottom: 3%;
}

.imageLeft{
    height: 80%;
    flex-basis: 25%;
    border-right: solid;
    border-color: black;
}

.rightPart{
    display: flex;
    position: relative;
    align-items: center;
}

.bttn-delete{
    flex-basis: 33%;
    position: absolute;
    bottom: 0;
    right: 0;
}

.bttn-challenge{
    flex-basis: 33%;
    position: absolute;
    bottom: 0;
    padding-right: 5%;
}

.nameAmis{
    flex-basis: 33%;
    text-align: center;
    margin-left: 5vw;
    font-family: 'Source Sans Pro', sans-serif;
}



#demande-d\'amis {
    list-style-type: none;
    padding: 0;
}

#demande-d\'amis li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 18px;
}

.accept-friend,
.refuse-friend {
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.accept-friend:hover,
.refuse-friend:hover {
    background-color: #ddd;
}



.add-friend {
    list-style-type: none;
    padding: 0;
}

.add-friend li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-weight: bold;
    font-size: 18px;
}

button.add-friend {
    background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
    margin: 1px;
    padding: 5px 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 7px #eee;
    border-radius: 3px;
    display: block;
}

#add-friend:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

#showParts{
    display: none;
    visibility: hidden;
}

@media ( orientation : portrait ) and ( max-width : 800px ) {

    body{
        margin-top: 20%;
    }
    
    #Amis {
        flex-direction: column;
    }

    #showParts{
        display: flex;
        flex-direction: row;
        visibility: visible;
    }

    #friendRequest, #friendList, #addFriend{
        height:6vh;
        width:100%;
        flex-basis: 33.33%;
        padding: 1%;
        background-color:#e9e9e9;
        border: 3px solid rgb(161 155 155);
    }

    .challengeAmis{
        flex-basis: 100%;
        width: 100%;
    }

    .DemandeDamis{
        display: none;
    }

    .AjouterAmis{
        display: none;
    }

    .visiblePart{
        display: block;
        flex-basis: 100% ;
        width: 100% ;
    }

    .invisiblePart {
        display: none;
        flex-basis: 0%;
        width: 0% ;
    }

    .container{
        height: 10vh;
        position: relative;
        width: 95%;
        display: grid;
        grid-template: 10vh / auto 1fr;
        align-items: center;
        border: solid;
        border-color: black;
        margin-bottom: 3%;
    }
    
    .imageLeft{
        height: 80%;
        flex-basis: 25%;
        border-right: solid;
        border-color: black;
    }
    
    .rightPart{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-items: center;
    }
    
    .bttn-delete{
        position: relative;
        grid-row: 2 /3;
        grid-column: 2 / 3;
        margin-top:1%;
        padding: 2% 0% !important;

    }
    
    .bttn-challenge{
        position: relative;
        padding-right: 5%;
        grid-column: 2 / 3;
        grid-row: 1 /2;
        padding: 2% 0% !important;
    }
    
    .nameAmis{
        text-align: center;
        grid-row: 1 /3;
        grid-column: 1 / 2;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .navConnection{
        display: block;
    }

    .liste-amis{
        margin-bottom: 10vh;
    }
}

@media (orientation: landscape) and (max-width: 1024px){

    #Amis{
        display: flex;
        height: 100%;
        width: 100%;
    }
    
    #DemandeDamis{
        text-align: center;
        background-color: lightgrey;
        border: 2px solid rgb(161 155 155);
    }
    
    .DemandeDamis{
        flex-basis: 20%;
    }
    
    #challengeAmis{
        text-align: center;
        border: 2px solid rgb(161 155 155);
        overflow-y: scroll;
        height: 100vh;
    }
    
    .challengeAmis{
        flex-basis: 50%;
    }
    
    #challengeAmis::-webkit-scrollbar {
        width: 10px;
    }
    
    #challengeAmis::-webkit-scrollbar-thumb {
        background-color: #ea9c66;
    }
    
    #challengeAmis::-webkit-scrollbar-track {
        background-color: #ccc;
    }
    
    #AjouterAmis{
        background-color: lightgrey;
        border: 5px solid rgb(161 155 155);
        text-align: center;
    }
    
    .AjouterAmis{
        flex-basis: 30%;
    }
    
    
    #barre-de-recherche:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    #barre-de-recherche:focus:-moz-placeholder {
        color: transparent;
    }
    
    #barre-de-recherche:focus::-moz-placeholder {
        color: transparent;
    }
    
    #Amis #barre-de-recherche {
        outline: none;
    }
    
    #Amis #barre-de-recherche[type="text"] {
        background: url(http://2.bp.blogspot.com/-xpzxYc77ack/VDpdOE5tzMI/AAAAAAAAAeQ/TyXhIfEIUy4/s1600/search-dark.png) no-repeat 10px 6px #fff;
        border-width: 1px;
        border-style: solid;
        border-color: #fff;
        font: bold 12px Arial,Helvetica,Sans-serif;
        color: #bebebe;
        width: 55%;
        padding: 8px 15px 8px 30px;
    }
    
    
    
    
    .refuse-friend {
        background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
        margin: 1px;
        padding: 5% 15%;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 7px #eee;
        border-radius: 3px;
        display: block;
    }
    
    .refuse-friend:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    
    .accept-friend {
        background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
        margin: 1px;
        padding: 5px 15px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 7px #eee;
        border-radius: 3px;
        display: block;
    }
    
    .accept-friend:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
    
    .liste-amis{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items:center;
    }
    
    .container{
        height: 12vw;
        position: relative;
        width: 95%;
        display: grid;
        grid-template: 12vw / auto 1fr;
        align-items: center;
        border: solid;
        border-color: black;
        margin-bottom: 3%;
    }
    
    .imageLeft{
        height: 80%;
        flex-basis: 25%;
        border-right: solid;
        border-color: black;
    }
    
    .rightPart{
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        align-items: center;
    }
    
    .bttn-delete{
        position: relative;
        grid-row: 2 /3;
        grid-column: 2 / 3;
        margin-top:1%;
        padding: 4% 0% !important;

    }
    
    .bttn-challenge{
        position: relative;
        padding-right: 5%;
        grid-column: 2 / 3;
        grid-row: 1 /2;
        padding: 4% 0% !important;
    }
    
    .nameAmis{
        text-align: center;
        grid-row: 1 /3;
        grid-column: 1 / 2;
        font-family: 'Source Sans Pro', sans-serif;
    }
    
    
    
    #demande-d\'amis {
        list-style-type: none;
        padding: 0;
    }
    
    #demande-d\'amis li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 0px;
        border: 1px solid #ccc;
        font-weight: bold;
        font-size: large;
    }
    
    .accept-friend,
    .refuse-friend {
        background-color: #eee;
        border: none;
        padding: 4% 1px;
        /* font-size: 14px; */
        cursor: pointer;
        font-size: 60%;
    }
    
    .accept-friend:hover,
    .refuse-friend:hover {
        background-color: #ddd;
    }
    
    
    
    .add-friend {
        list-style-type: none;
        padding: 0;
    }
    
    .add-friend li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        font-weight: bold;
        font-size: 18px;
    }
    
    button.add-friend {
        background-image: linear-gradient(to right, #77A1D3 0%, #79CBCA  51%, #77A1D3  100%);
        margin: 1px;
        padding: 5px 15px;
        text-align: center;
        text-transform: uppercase;
        transition: 0.5s;
        background-size: 200% auto;
        color: white;
        box-shadow: 0 0 7px #eee;
        border-radius: 3px;
        display: block;
    }
    
    #add-friend:hover {
        background-position: right center; /* change the direction of the change here */
        color: #fff;
        text-decoration: none;
    }
    
}

